<div class="product">
  <div class="container">
    <div class="row ">
      <div class="col-12 col-md-6 col-lg-5">
        <div class="inner ">
          <img src="../../../assets/img/img1.jpg">

          <div class="images">
            <div class="row">
              <div class="small-image d-flex">
                <img src="../../../assets/img/img1.jpg">
                <img src="../../../assets/img/img1.jpg">
                <img src="../../../assets/img/img1.jpg">
                <img src="../../../assets/img/img1.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-7">
        <div class="details">
          <h6 class="seprator">0986</h6>
          <h1 class="pb-4 pt-2">Shark Brixton</h1>

          <!-- color section  -->
          <h4 class="pb-2 font-weight-bold">Color:</h4>
          <div class="colors d-flex">
            <div class="me-3" *ngFor="let item of colors" (click)="onColorChange(item.name)">
              <div class="color m-auto" [style.backgroundColor]="item.code" [ngClass]="{'active': item.name == selectedColor}"></div>
              <p class="pt-2">{{item.name}}</p>
            </div>
          </div>

          <!-- size section  -->
          <h4 class="pb-2 font-weight-bold">Size:</h4>
          <div class="sizes d-flex">
            <div class="size me-3"
              *ngFor="let item of sizes"
              (click)="onSizeChange(item.name)"
              [ngClass]="{'active': item.name == selectedSize}"
            >
              {{item.name}}
            </div>
          </div>
          <a href="#" class="small-anchor">Size Chart</a>

          <!-- Quantity section  -->
          <h4 class="font-weight-bold pt-4">Quantity:</h4>
          <div class="quantity">
            <select>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>

          <!-- price section  -->
          <h4 class="font-weight-bold pt-4">Price:</h4>
          <div class="price-area">
            <span>$</span>
            <input type="text" placeholder="100">
          </div>

          <div class="py-5">
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
    <div class="tab">
        <button class="tablinks" [ngClass]="{'active': selectedTab == 'description'}"
            (click)="onTabChange('description')">Describtion</button>
        <button class="tablinks" [ngClass]="{'active': selectedTab == 'compositon'}"
            (click)="onTabChange('compositon')">Compositon</button>
        <button class="tablinks" [ngClass]="{'active': selectedTab == 'reviews'}"
            (click)="onTabChange('reviews')">Reviews</button>
    </div>
    
    <div class="tabcontent" *ngIf="selectedTab == 'description'">
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
            tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
            nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
            illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
            blandit.
        </p>
    </div>
    
    <div class="tabcontent" *ngIf="selectedTab == 'compositon'">
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
            tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
            nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
            illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
            blandit.
        </p>
    </div>
    
    <div class="tabcontent" *ngIf="selectedTab == 'reviews'">
        <div class="row review-inner">
            <div class="col-3 col-md-2 col-lg-1">
                <h4>4.8</h4>
            </div>
    
            <div class="col-9 col-md-10 col-lg-11">
                <div class="review-star">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <p class="checked">4.8 Rating</p>
                </div>
            </div>
        </div>
    
        <div class="row mt-2">
            <div class="col-3 col-md-2 col-lg-1">
                <div class="left">
                    <span>5 stars</span>
                </div>
            </div>
            <div class="col-7 col-md-8 col-lg-8 px-0">
                <div class="middel">
                    <div class="progress">
                        <div class="progress-bar" style="width:90%"></div>
                    </div>
                </div>
            </div>
            <div class="col-2 col-md-2 col-lg-1">
                <div class="right">
                    <span>95%</span>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3 col-md-2 col-lg-1">
                <div class="left">
                    <span>4 stars</span>
                </div>
            </div>
            <div class="col-7 col-md-8 col-lg-8 px-0">
                <div class="middel">
                    <div class="progress">
                        <div class="progress-bar" style="width:75%"></div>
                    </div>
                </div>
            </div>
            <div class="col-2 col-md-2 col-lg-1">
                <div class="right">
                    <span>75%</span>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3 col-md-2 col-lg-1">
                <div class="left">
                    <span>3 stars</span>
                </div>
            </div>
            <div class="col-7 col-md-8 col-lg-8 px-0">
                <div class="middel">
                    <div class="progress">
                        <div class="progress-bar" style="width:50%"></div>
                    </div>
                </div>
            </div>
            <div class="col-2 col-md-2 col-lg-1">
                <div class="right">
                    <span>50%</span>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3 col-md-2 col-lg-1">
                <div class="left">
                    <span>2 stars</span>
                </div>
            </div>
            <div class="col-7 col-md-8 col-lg-8 px-0">
                <div class="middel">
                    <div class="progress">
                        <div class="progress-bar" style="width:25%"></div>
                    </div>
                </div>
            </div>
            <div class="col-2 col-md-2 col-lg-1">
                <div class="right">
                    <span>25%</span>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3 col-md-2 col-lg-1">
                <div class="left">
                    <span>1 stars</span>
                </div>
            </div>
            <div class="col-7 col-md-8 col-lg-8 px-0">
                <div class="middel">
                    <div class="progress">
                        <div class="progress-bar" style="width:10%"></div>
                    </div>
                </div>
            </div>
            <div class="col-2 col-md-2 col-lg-1">
                <div class="right">
                    <span>10%</span>
                </div>
            </div>
        </div>
    </div>
</div>