<div class="product">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-12 col-md-6 col-lg-8">
        <div class="inner justify-content-center">
          <img src="../../../assets/img/img1.jpg">

          <div class="images">
            <div class="row">

              <div class="col-3">
                <div class="small-image d-flex">
                  <img src="../../../assets/img/img1.jpg">

                  <img src="../../../assets/img/img1.jpg">

                  <img src="../../../assets/img/img1.jpg">

                  <img src="../../../assets/img/img1.jpg">

                  <img src="../../../assets/img/img1.jpg">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="details">
          <div class="seprator"></div>
          <h6>0986</h6>
        </div>
      </div>

    </div>
  </div>
</div>
