.checkout {
    padding: 20px 0;
    .custom-control-label {
        padding-left: 10px;
    }
}

button {
    &.btn {
        .btn-secondary {
            background-color: #ff0000;
            border-color: #ff0000;
        }
    }
}